.text {
    font-family: arial, sans-serif;
    line-height: 1.4;
}

.alert {
    text-align: center;
    color: red;
}

.notice {
    text-align: center;
    color: green;
}

.uploads_table {
    width: 100%;
    max-width: 1000px;
    margin: 1px;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-right: 10px;
}

.report_table {
    width: 100%;
    max-width: 800px;
    margin: 1px;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-right: 10px;
}

.mono {
    font-family: "Courier New", Courier, monospace;
}

.with_border {
    border-bottom: 1pt solid grey;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: none;
    text-align: left;
    padding: 7px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
