/ :uploads, :uploads_size

= render "partials/header"
h1 = "Your Files (#{uploads_size} total)"


= render partial: "uploads/index_upload_row_header"
= render partial: "uploads/index_upload_row", collection: uploads, as: :upload, spacer_template: "uploads/index_upload_row_divider"
